/* Reset default styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* Remove bullet points and default list settings*/

.nav-menu {
    list-style: none;

}

/* remove underlines from links*/
.nav-menu a {
    text-decoration: none;
    color: white;
}
/* Make the nav bar a flex container with bg color*/
nav {
    background-color: #2c3e50;
    padding: 1rem;
}

.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* style the links */
.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    padding: 10px 20px;
    display: block;
    border-radius: 5px;
    background-color: #34495a;
    transition-property: backround-color 0.6s ease;
}

.nav-menu a:hover {
    background-color: #2c3ea6 ;
}

/* new containter to hold logo and menu items */

.nav-container {
    display: flex;
    justify-content: space-between; /* logo will go to left, menu will go right */
    align-items: center;
    background-color: #2c3e50;
}

.logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 2rem;
}